* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;

}

#vedioBg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.taskbar {
  padding: 0.3rem;
  background: whitesmoke;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;

  .rightTask {
    position: absolute;
    right: 0;
  }
}
