* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  // background: url("../img/bg.jpeg");
  background-position: center;
}

.taskbar {
  z-index: 9999;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}

.rightTask {
  position: absolute;
  right: 0;
}

#vedioBg {
  width: 100%;
  height: max-content;
}

.startManu {
  position: absolute;
  // bottom: 65px;
  bottom: -865px;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;

  img {
    width: 490px;
    height: 490px;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}
